</body>
<footer>
    <div class="footer-container">
        <div class="footer-object">
            <ul>
                <li>Brenden Matteson</li>
                <li>Dante Case</li>
                <li>Joseph DeVito</li>
            </ul>
        </div>
        <div class="footer-object">
            <p>Copyright © <%= new Date().getFullYear() %></p>
        </div>
    </div>
</footer>
</html>