</body>
<footer>
    <div class="footer-container">
        <div class="footer-object">
            <ul>
                <li><h4>Contributors</h4></li>
                <li>Brenden Matteson</li>
                <li>Dante Case</li>
                <li>Joseph DeVito</li>
            </ul>
        </div>
        <div class="footer-object">
            <p>Copyright © <%= new Date().getFullYear() %></p>
        </div>
        <div class="footer-object">
            <ul>
                <li><h4>Resources:</h4></li>
                <li><a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a></li>
            </ul>
        </div>
    </div>
</footer>
</html>