a {
    text-decoration: none;
    color: black;
}

header {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.08);
}

.header-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.header-object {
    display: flex;
    padding: 10px;
    gap: 15px;
    align-items: center;
}

.header-object img {
    height: 50px;
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

.inner-dropdown {
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.inner-dropdown-content {
    display: none;
    position: absolute;
    right: 140px;
    top: 0px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content input {
    width: 100%;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    text-align: left;
    font-size: 16px;
}

.dropdown-content a:hover {background-color: #ddd; transition-duration: 0.2s; border-radius: 10px; }

.dropdown-content input:hover {background-color: #ddd; transition-duration: 0.2s; border-radius: 10px; width: 100%;}

.dropdown:hover .dropdown-content {display: block; transition-duration: 0.2s;}

.inner-dropdown:hover .inner-dropdown-content {display: block; transition-duration: 0.2s;}

.dropdown:hover .dropbtn {background-color: whitesmoke; transition-duration: 0.2s;}