/* styling for recipe section of home page */

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    gap: 25px;
    /* margin-left: 15%;
    margin-right: 15%; */
}

.recipe-object {
    display: flex;
    flex-direction: column;
    color: black;
    width: 50%;
}

.recipe-split {
    display: flex;
    flex-direction: row;
}

.recipe-img { 
    height: 260px;
}

.recipe-img img {
    height: 260px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 5px gray;
    background-color: white;
}

.recipe-description {
    width: 100%;
    box-shadow: 0 0 5px gray;
    background-color: white;
    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-description p {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* styling for individual viewing */
.view-recipe-img {
    width: 50%;
    display: block; 
    margin: 0 auto;
}

.view-recipe-img img {
    align-self: center;
    width: 100%;
    border-radius: 10px;
}

/* styling for star rating */
.star-rating {
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
}

.checked {
    color: gold; 
}