.recipe-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    padding-bottom: 100px;
    gap: 25px;
    padding: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.recipe-object {
    display: flex;
    flex-direction: column;
    color: black;
    max-width: 800px;
    min-width: 400px;
    box-shadow: 0 0 5px gray;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}